@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "geist-thin";
  src: url("/fonts/geist/Geist-thin.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Thin";
}

@font-face {
  font-family: "geist-bold";
  src: url("/fonts/geist/Geist-Bold.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Bold";
}

@font-face {
  font-family: "geist-light";
  src: url("/fonts/geist/Geist-Light.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Light";
}

@font-face {
  font-family: "geist-medium";
  src: url("/fonts/geist/Geist-Medium.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Medium";
}

@font-face {
  font-family: "geist-regular";
  src: url("/fonts/geist/Geist-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Regular";
}

@font-face {
  font-family: "geist-semibold";
  src: url("/fonts/geist/Geist-SemiBold.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "SemiBold";
}

.radial_border {
  /* border: 1.5px solid;

  border-image-source: linear-gradient(
      327.6deg,
      #08090a 75.73%,
      #434343 158.51%
    ),
    linear-gradient(
      129.43deg,
      rgba(0, 0, 0, 0) 36.01%,
      rgba(80, 80, 80, 0.2) 88.25%
    ); */

  /* border-image-source: repeating-linear-gradient(
    15deg,
    #900000,
    #ee2400,
    #ffb09c 2rem
  ); */
  /* border-image-repeat: repeat;
  border-image-slice: 100; */
}

/* Global styles */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select_gradient {
  background: linear-gradient(
    180deg,
    rgba(7, 9, 10, 0.5) 24.41%,
    #09090a 91.6%
  );
  /* border: 1px solid;

  border-image-source: linear-gradient(
      327.6deg,
      #08090a 75.73%,
      #434343 158.51%
    ),
    linear-gradient(
      129.43deg,
      rgba(0, 0, 0, 0) 36.01%,
      rgba(80, 80, 80, 0.2) 88.25%
    ); */
}

.gradient_bg {
  background: linear-gradient(327.6deg, #08090a 75.73%, #434343 158.51%),
    linear-gradient(
      129.43deg,
      rgba(0, 0, 0, 0) 36.01%,
      rgba(80, 80, 80, 0.2) 88.25%
    );
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid #7d7d7d;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

.login-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login-form button {
  background: red;
  padding: 0.4rem 1rem;
}

.login-form input {
  padding: 0.3rem 0.6rem;
}

/* Lenis configuration */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.network_gradient {
  background: linear-gradient(180deg, #0b0c0d 23.74%, #141a23 166.16%);
  box-shadow: 0px 0.5px 1px 0px #b9b9b940 inset;
}

.base_popover_gradient {
  background: linear-gradient(
    180deg,
    rgba(7, 9, 10, 0.9) 37.5%,
    #09090a 168.06%
  );
}

.gradient_border::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(
      129.43deg,
      rgba(0, 0, 0, 0) 36.01%,
      rgba(80, 80, 80, 0.2) 88.25%
    ),
    linear-gradient(327.6deg, #08090a 75.73%, #434343 158.51%);

  border-radius: inherit;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
}

.menu_gradient {
}

.menu_dropdown_bg {
  background: linear-gradient(
    180deg,
    rgba(13, 14, 15, 0.5) 37.5%,
    #0d0e0f 168.06%
  );
  box-shadow: 0px 0px 0px 1px rgba(50, 50, 50, 0.25);
  backdrop-filter: blur(24px);
}

.network_grid {
  grid-template-columns: repeat(auto-fit, minmax(210px, 2fr));
}
