@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "geist-thin";
  src: url("/fonts/geist/Geist-thin.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Thin";
}

@font-face {
  font-family: "geist-bold";
  src: url("/fonts/geist/Geist-Bold.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Bold";
}

@font-face {
  font-family: "geist-light";
  src: url("/fonts/geist/Geist-Light.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Light";
}

@font-face {
  font-family: "geist-medium";
  src: url("/fonts/geist/Geist-Medium.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Medium";
}

@font-face {
  font-family: "geist-regular";
  src: url("/fonts/geist/Geist-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Regular";
}

@font-face {
  font-family: "geist-semibold";
  src: url("/fonts/geist/Geist-SemiBold.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "SemiBold";
}

.radial_border {
  /* border: 1.5px solid;

  border-image-source: linear-gradient(
      327.6deg,
      #08090a 75.73%,
      #434343 158.51%
    ),
    linear-gradient(
      129.43deg,
      rgba(0, 0, 0, 0) 36.01%,
      rgba(80, 80, 80, 0.2) 88.25%
    ); */

  /* border-image-source: repeating-linear-gradient(
    15deg,
    #900000,
    #ee2400,
    #ffb09c 2rem
  ); */
  /* border-image-repeat: repeat;
  border-image-slice: 100; */
}

/* Global styles */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
